.ad-box {
    margin: 0;
    width: 300px;
    height: 250px;
    cursor: pointer;
    border: 2px dashed #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
